h1 {color: mediumspringgreen;
text-align: center;}

h2 {color: darkslateblue; text-align: left;}

h3 {color: slateblue; text-align: right; 
    border-color: black; border-style: solid;}

H4 {color: indigo; text-align: center;}
